.App {
  display: flex;
  width: 100vw;
  justify-content: center;
  text-align: center;

}
/* .loginform{
  width: 40% ;
  padding: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 5em; 
}
 */

/* @media screen and (max-width: 1024px){

  .loginform{
    width: 60%;
    padding: 1.2em;
    justify-content: center;
    align-items: center;
    margin-top: 5em; 
  }
} */

.labels{
display: flex;
}


.inputerror{
  display: flex;
  color: red;
}

.profileMain{
  width: 50vw ;
  height: 50vh;
}

.profilePagePic{
  width: 7em;
  height: 7em !important ;
  border-radius: 4em;
  align-items: left;
  display: flex;
  margin-bottom: 0.7em;

}

.dpIcon{
  width: 2em !important;
  height: 2em !important;
  border-radius: 2em !important;
}

.appbarRightSide{
  display: flex;
  align-items: center;
}

@media screen and (min-width:1234px ){
  .appbarRightSide{
    display: flex;
    align-items: center;
    margin-left: 50%;
    height: 4.7em;
  
  }
}


@media (min-width: 600px){
.appbarRightSide {
    min-height: 64px;
}}

.dashboard{
  display: flex;
  justify-content: center;
  align-items: center;
}

