.App {
  display: flex;
  width: 100vw;
  justify-content: center;
  text-align: center;

}

.labels{
display: flex;
}


.inputerror{
  display: flex;
  color: red;
}

.profileMain{
  width: 50vw ;
  height: 50vh;
}

.profilePagePic{
  width: 7em;
  height: 7em !important ;
  border-radius: 4em;
  align-items: left;
  display: flex;
  margin-bottom: 0.7em;

}

.dpIcon{
  width: 2em !important;
  height: 2em !important;
  border-radius: 2em !important;
}

/* .appbarRightSide{
  display: flex;
  align-items: center;
}
@media (min-width: 600px){
.appbarRightSide {
    min-height: 64px;
}}

@media screen and (min-width:1234px ){
  .appbarRightSide{
    display: flex;
    align-items: center;
    margin-left: 50%;
    height: 4.7em;
  
  }
} */



