.App {
  display: flex;
  width: 100vw;
  justify-content: center;
  text-align: center;
  padding: 1em;
  /* margin-bottom: 2em; */
}
.loginform{
  width: 50%;
  padding: 1em;
  /* display: flex;
  flex-direction: row; */
  justify-content: center;
  align-items: center;
  /* width: 500px; */
}

.labels{
width: 40%;
display: flex;
}

.inputs{
display: flex;
width: 70%;
}

.inputerror{
  display: flex;
  color: red;
}

.inputcheckbox{
  display: flex;

}
.radiobtngroup{
  width: auto;
}
.radiobtn{
  display: flex;
  width: 5em;
}

.radiosubsec{
  display: flex;
  position: relative;
  align-items: center;
  font-size: inherit;
  justify-content: center;
}



.dashboardMain{
  width: 90% ;
  
  /* display: flex; */
 
}

.test{
  width: 20%;
  height: 200px;
  display: flex;
  float: left;
  flex-direction: column;
}

.mainappbarbody{
  display: flex;
  /* margin-left: 20%; */
}

.firstpaper{
  margin-left: 70%;
  width: 17em;
  /* position: absolute; */
  justify-content: flex-end;
  /* width: auto; */
}